/*h1 {
	width: 100%;
	border-bottom: 2px solid black;
	background-color: silver;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 5pt;
	padding-bottom: 5pt;
}*/

h2 {
	width: 100%;
	margin-top: 0;
	margin-left: 0%;
	padding-left: 2em;
	border-bottom: 2px solid black;
	font-size: 110%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 125%;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 85%;
	margin-bottom: 4em;
}

.page {
	margin: 0 20% 0 20%;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	background-color: silver;
}

h2 a {
	padding-right: 6pt;
	padding-left: 6pt;
	font-weight: normal;
}

h2 a:hover {
}

.nav {
	border-bottom: 2px solid black;
	display: block;
	margin: 0;
	padding-left: 2em;
}

.nav li {
	display: inline;
}

.nav .here {
	border-bottom: solid red 2px;
}

li {
	list-style-position: outside;
}

ul {
	text-indent: 0px;
}

ol {
	list-style: decimal ;
}

.papers li {
	margin-bottom: 1em;
}

table {
	font-size: 85%;	
	padding: 0;
	border-collapse: collapse;
	margin: 1em;
}

.normal, .calendar {
	font-size: 100%;
	margin: 0em;
	padding: none;
	margin-left: 2em;
}

td {
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: top;
}

.calendar td, .calendar th {
	
	border-bottom: 1px dashed black;
}

.past {
	color: silver;
}

.past a {
	color: #9999FF;
}

td.past:hover {
	color:black;
}

td.past:hover a {
	color:blue;
}

td p {
	padding-left: 1em ;
	text-indent: -1em ;
}

td.narrow, th.narrow {
	width: 20%;
}

p.quote , blockquote {
	margin-left: 1em ;
	padding-left: 1em ;
	border-left: 2px solid black ;

}

span.hide {
	display: none ;
}

.sixcol {
    -moz-columns: 6;
    -webkit-columns: 6;
    columns: 6;
}

.fivecol {
    -moz-columns: 5;
    -webkit-columns: 5;
    columns: 5;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
